@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    text-align: center;
    margin-bottom: 0;
}
h1{
    text-align: center;
    font-family: "Source Code Pro", sans-serif;
    font-size: 5em;
    color: white;
    margin-top: 400px;
}
p.cabecera{
    font-family: Merryweather, serif;
    font-style: italic;
    font-size:2em;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.abajo{
    text-align: center;
    margin-bottom: 100px;
}
.abajo:hover{
    content: url("img/abajo-2.png");
}
nav{
    height: 50px;
    width: 900px;
    background-color: #474b50;
    color: white;
    text-align: center;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}
a:hover{
    background-color: black;
}
main{
    width: 900px;
    top: 0;
    margin: 0 auto;
}
#fotos{
    background-color: white;
    text-align: center;
}
h2{
    font-family: "Source Code Sans", sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
    padding-top: 25px;
}
h3{
    font-family: "Source Code Sans", sans-serif;
    font-size: 3em;
    font-weight: 700;
}
p.subtitulos{
    font-size: 1.5em;
    font-family: Merryweather, serif;
    font-style: italic;
    margin: 0 40px;
}
.viaje{
    margin: 0 40px;
    height: auto;
    width: 820px;
}
img.fotos{
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
    width: 300px;
    display: inline-block;
    padding: 0;
}
#formulario{
    background-color: #cad1ce;
    margin: 0 auto 300px;
    padding: 30px;
    font-family: "Source Sans Pro", sans-serif;
}
#envio{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}
input{
    border: #888d8b 2px solid;
    width: 90%;
    margin: 0 40px 25px 40px;
    padding: 10px;
    background-color: #cad1ce;
    font-size: 1.5em;
}
label{
    margin-left: 40px;
    font-size: 80%;
    color: #484b50;
    font-weight: bold;
}
fieldset{
    border: #888d8b 2px solid;
    width: 90%;
    margin: 0 40px 25px 40px;
    padding: 10px;
    background-color: #cad1ce;
}
legend{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 80%;
    color: #484b50;
}
button{
    font-family: "Source Sans Pro",sans-serif;
    color: #484b50;
    font-weight: 700;
    width: 45%;
    margin-left: 40px;
    background-color: #cad1ce;
    border: #484b50 2px solid;
    padding: 15px;
}
button:hover{
    border: #4096a5 2px solid;
    color: white;
}