@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
header{
    text-align: center;
    margin-bottom: 0px;
}
h1{
    text-align: center;
    font-family: "Source Code Pro", sans-serif;
    font-size: 5em;
    color: white;
    margin-top: 400px;
}
p.cabecera{
    font-family: Merryweather, serif;
    font-style: italic;
    font-size:2em;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.abajo{
    text-align: center;
    margin-bottom: 100px;
}
.abajo:hover{
    content: url("img/abajo-2.png");
}
nav{
    top: 0;
    height: 50px;
    width: 900px;
    background-color: #474b50;
    color: white;
    text-align: center;
    margin: 0 auto;

}
a{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}
a:hover{
    background-color: black;
}
main{
    width: 900px;
    top: 0;
    margin: 0 auto
}
#fotos{
    background-color: white;
    text-align: center;
}
h2{
    font-family: "Source Code Pro", sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 25px;
}
h3{
    font-family: "Source Code Pro", sans-serif;
    font-size: 3em;
    font-weight: 700;
}
p.subtitulos{
    font-size: 1.5em;
    font-family: Merryweather, serif;
    font-style: italic;
}
.viaje{
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
}img.india{
    margin-left: 40px;
    margin-right: 40px;
    height: 250px;
    display: inline-block;
}
img.mexico{
     margin-left: 40px;
     margin-right: 40px;
     height: 250px;
    display: inline-block;
}
img.nuevazelanda{
     margin-left: 40px;
     margin-right: 40px;
     height: 250px;
}
img.peru{
     margin-left: 40px;
     margin-right: 40px;
     height: 250px;
}
img.islandia{
     margin-left: 40px;
     margin-right: 40px;
     height: 250px;
}
img.japon{
     margin-left: 40px;
     margin-right: 40px;
     height: 250px;
}
#formulario{
    top: 0 ;
    background-color: #cad1ce;
    margin-bottom: 300px;
    }
#envio{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    top: 0;
    padding-top: 0;
}
input{
    margin-left: 40px;
}
label{
    margin-left: 40px;
}